### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [291]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#show just the header
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [292]:
players=len(purchase_data["SN"].unique())
players_df = pd.DataFrame({"Total Players":[players]})
players_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [293]:
#calculate average price
average_price= f'${purchase_data["Price"].mean():.2f}'
#average_price

#calculate total revenue
total_rev=f'${purchase_data["Price"].sum():.2f}'
#total_rev

#calculate number of purchases
purchase_count = purchase_data['Purchase ID'].nunique()
#purchase_count

#calculate number of unique items
unique_count = purchase_data['Item ID'].nunique()
#unique_count

#create a summary dataframe to display results
summary_df = pd.DataFrame({"Number of Unique Items":[uniqie_count],"Average Price":[average_price],"Number of Purchases":[purchase_count],"Total Revenue":[total_rev]})
summary_df

In [294]:
#create a summary table to display results
summary_df = pd.DataFrame({"Number of Unique Items":[unique_count],"Average Price":[average_price],"Number of Purchases":[purchase_count],"Total Revenue":[total_rev]})
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [295]:
#group the player data based on gender and make a data frame
gender_groups = purchase_data.groupby(['Gender'])

player_gender_df = pd.DataFrame({"Total Count":gender_groups['SN'].nunique()})
player_gender_df = player_gender_df.sort_values("Total Count", ascending=False)

#player_gender_df

In [296]:
#use the total players calculated above players
#calculate the percentage of players per gender
player_gender_df["Percentage of Players"]= player_gender_df["Total Count"] / players * 100

#format cells in the dataframe 
player_gender_df["Percentage of Players"] = player_gender_df["Percentage of Players"].map("{:.2f}%".format)
player_gender_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [297]:
#calculate purchase count, the average purchase price and the average purchase total per gender groups
gender_analysis_df = pd.DataFrame({"Purchase Count":gender_groups['Purchase ID'].count(),\
                                   "Average Purchase Price":gender_groups['Price'].mean(),\
                                   "Total Purchase Value":gender_groups['Price'].sum()})

In [298]:
#format cells in to the dataframe
gender_analysis_df['Average Purchase Price'] = gender_analysis_df['Average Purchase Price'].map("${:.2f}".format)
gender_analysis_df['Total Purchase Value'] = gender_analysis_df['Total Purchase Value'].map("${:.2f}".format)

#gender_analysis_df

In [299]:
#calculate avergae purchase total per person by gender
average_purchase_gender = purchase_data.groupby(['Gender','SN']).sum()
purchase_gender_total_df = pd.DataFrame(average_purchase_gender)

In [300]:
#add average purchase total column to the gender analysis dataframe
gender_analysis_df['Avg Total Purchase per Person'] = purchase_gender_total_df.groupby('Gender')['Price'].mean()
# Finally format the new column
gender_analysis_df['Avg Total Purchase per Person'] = gender_analysis_df['Avg Total Purchase per Person'].map("${:.2f}".format)
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [301]:
#find maximum and minimum values of the age column
print(purchase_data['Age'].max())
print(purchase_data['Age'].min())

45
7

In [302]:
#create the bins for ages
#because the minimum age is 7 I removed the under 5 years as it won't have any data
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

#name the bins
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40 and over"]

In [303]:
#categorise the existing players using the bins by making a dataframe for unique list of ages
unique_SN_group = purchase_data.groupby(['SN'])
unique_age_df = pd.DataFrame(unique_SN_group['Age'].max())
#unique_age_df['Age']

In [304]:
#using the unique list of ages along with the bins and group names to bin the ages
unique_age_df["Age Ranges"] = pd.cut(unique_age_df["Age"], bins, labels=bin_names)

#change the first column index from the default index
unique_age_df.set_index('Age Ranges',inplace=True)

#count how many ages are in each bin
age_bins_df = pd.DataFrame(unique_age_df.groupby(['Age Ranges']).count())

#change the Age column to Total Count
age_bins_df.rename(columns = {'Age':'Total Count'}, inplace = True) 

#age_bins_df

In [305]:
# Calculate the percentage of total players each Age Bin represents and add it to the dataframe
age_bins_df['Percentage of Players'] = age_bins_df['Total Count'] / players *100

# Format the cells using map() to be 2 decimal places and have a % at the end of the value
age_bins_df['Percentage of Players'] = age_bins_df['Percentage of Players'].map("{:.2f}%".format)
age_bins_df

             Total Count Percentage of Players
Age Ranges
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40 and over           12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [306]:
purchase_data["Age Bins"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

#calculate purchase count, averahe purchase price and average purchase total per person
age_group = purchase_data.groupby(['Age Bins'])
purchase_count = age_group['Purchase ID'].count()
average_purchase_price = age_group['Price'].mean()
total_purchase = age_group['Price'].sum()

In [307]:

#create a dataframe summary
age_purchase_analysis_df = pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":average_purchase_price,\
                            "Total Purchase Value":total_purchase})

#age_purchase_analysis_df

In [308]:
#calculate average total purchase per person 
age_person_group = purchase_data.groupby(['Age Bins','SN']).sum()

#create a dataframe
age_person_sum_df = pd.DataFrame(age_person_group)

#add the new average total purchase per person column to the dataframe
age_purchase_analysis_df['Avg Total Purchase per Person'] = age_person_sum_df.groupby('Age Bins')['Price'].mean()

#format the columns in the data frae
age_purchase_analysis_df['Average Purchase Price'] = age_purchase_analysis_df['Average Purchase Price'].map("${:.2f}".format)
age_purchase_analysis_df['Total Purchase Value'] = age_purchase_analysis_df['Total Purchase Value'].map("${:.2f}".format)
age_purchase_analysis_df['Avg Total Purchase per Person'] = age_purchase_analysis_df['Avg Total Purchase per Person'].map("${:.2f}".format)

age_purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Bins,,,,
<10,23,$3.35,$77.13,$0.13
10-14,28,$2.96,$82.78,$0.14
15-19,136,$3.04,$412.89,$0.72
20-24,365,$3.05,$1114.06,$1.93
25-29,101,$2.90,$293.00,$0.51
30-34,73,$2.93,$214.00,$0.37
35-39,41,$3.60,$147.67,$0.26
40+,13,$2.94,$38.24,$0.07

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [309]:
#use SN to get information by each individual username
top_spenders_group = purchase_data.groupby(['SN'])

#calculte the spend by each user and organise from top spender (ascending)
top_spenders_df = pd.DataFrame(top_spenders_group.sum().sort_values('Price',ascending=False))
#top_spenders_df.head()

In [310]:
#take top spenders SN and make a list
top5_spenders_SN = top_spenders_df.index.values[0:5]
#top5_spenders_SN


#copy all the rows from the purchase_data where the SN is in the top5_spenders_SN
top5_spenders_df = purchase_data[purchase_data['SN'].isin(top5_spenders_SN)]
top5_group = top5_spenders_df.groupby(['SN'])

#calculate purchase count, the average purchase price and total purchase value for the top 5 spenders
top5_purchase_count = top5_group['Purchase ID'].count()
top5_average_purchase = top5_group['Price'].mean()
top5_total_purchase = top5_group['Price'].sum()

In [311]:
#create a dataframe and add above calculatiobs
top5_purchase_summary_df = pd.DataFrame({"Purchase Count":top5_purchase_count,"Average Purchase Price":top5_average_purchase,\
                                     "Total Purchase Value":top5_total_purchase})

#display the data in a cleaner format with 2 decimal points
top5_purchase_summary_df['Average Purchase Price'] = top5_purchase_summary_df['Average Purchase Price'].map("${:.2f}".format)
top5_purchase_summary_df['Total Purchase Value'] = top5_purchase_summary_df['Total Purchase Value'].map("${:.2f}".format)

#sort the numbers on the total purchase value column in descending order
top5_purchase_summary_df.sort_values('Total Purchase Value',ascending=False)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [312]:
#retrieve the Item ID, Item Name, and Item Price columns from the purchase_data dataframe
item_df = purchase_data.loc[:,["Item ID","Item Name","Price"]]
#item_df.head()

In [313]:
#group by Item ID and Item Name
item_group = item_df.groupby(['Item ID','Item Name'])

#count the number of items in price column group by item ID and sort in descending order (most popular)
#cerate a dataframe
top_pop_df = pd.DataFrame(item_group.count().sort_values('Price',ascending=False))
#top_pop_df.head(5)

In [314]:
#use item ID values from the first 5 rows of data and put into a list  
top5_popular_items = top_pop_df.index.values[0:5]
top5_popular_ItemID_list = [i[0] for i in top5_popular_items]
#top5_popular_ItemID_list

In [315]:
#extracr all the rows from item_df where the item ID is in the top5_popular_ItemID_list 
top5_popular_items_df = item_df[item_df['Item ID'].isin(top5_popular_ItemID_list)]

#group the top5_popular_df by item ID and item name
top5_popular_group = top5_popular_items_df.groupby(['Item ID','Item Name'])
#top5_popular_group.head(5)

In [316]:
#calculate each group fto obtain purchase count, item price, and total purchase value
top5_popular_count = top5_popular_group['Price'].count()
top5_popular_price = top5_popular_group['Price'].max()
top5_popular_total = top5_popular_group['Price'].sum()

In [317]:
#create a dataframe and add above calculations
top5_popular_summary_df = pd.DataFrame({"Purchase Count":top5_popular_count,"Item Price":top5_popular_price,\
                                     "Total Purchase Value":top5_popular_total})

#format to display data in a cleaner format by having 2 decimal places and had dollar signs
top5_popular_summary_df['Item Price'] = top5_popular_summary_df['Item Price'].map("${:.2f}".format)
top5_popular_summary_df['Total Purchase Value'] = top5_popular_summary_df['Total Purchase Value'].map("${:.2f}".format)

#sort numbers in the Total Purchase Value column in descending order
top5_popular_summary_df.sort_values('Purchase Count',ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.88,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
132,Persuasion,9,$3.33,$28.99
145,Fiery Glass Crusader,9,$4.58,$41.22

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [318]:
#sort above table in descending order (most popular items) and create a dataframe
top_profit_df = pd.DataFrame(item_group.sum().sort_values('Price',ascending=False))
#top_profit_df.head(5)

In [319]:
#put the top5 item ID values into a list  
top5_profit = top_profit_df.index.values[0:5]
top5_profit_ItemID_list = [i[0] for i in top5_profit]
#top5_profit_ItemID_list

In [320]:
#extract all rows from item_df where the Item ID is in the top5_profit_ItemID_list 
top5_profit_df = item_df[item_df['Item ID'].isin(top5_profit_ItemID_list)]

#group the top5_popular_df by item ID and item name
top5_profit_group = top5_profit_df.groupby(['Item ID','Item Name'])
#top5_profit_group.head(5)

In [321]:
#calculate purchase count,the item price and total purchase value for the top 5 pofitable items
top5_profit_count = top5_profit_group['Price'].count()
top5_profit_price = top5_profit_group['Price'].max()
top5_profit_total = top5_profit_group['Price'].sum()

In [322]:
#creat a dataframe and add the above calculations
top5_profit_summary_df = pd.DataFrame({"Purchase Count":top5_profit_count,"Item Price":top5_profit_price,\
                                     "Total Purchase Value":top5_profit_total})

#format to display data in a cleaner format by having 2 decimal places and had dollar signs
top5_profit_summary_df['Item Price'] = top5_profit_summary_df['Item Price'].map("${:.2f}".format)
top5_profit_summary_df['Total Purchase Value'] = top5_profit_summary_df['Total Purchase Value'].map("${:.2f}".format)

#sort numbers in the Total Purchase Value column in descending order
top5_profit_summary_df.sort_values('Total Purchase Value',ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.88,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80